<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<html lang="en-us">

<head>

  <%- include('../layout/head') %>

</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>




  <main id="main-content">
    <select name="category" id="categoryDropdown">
      <option value="activity">Activity Idea</option>
      <option value="funny">Funny Story</option>
      <option value="inspirational">Inspirational Story</option>
      <option value="random">Random</option>
    </select>
    <button id="clearFilter">Clear Filters</button>


    <% stories.forEach(story => { %>
    <section class="<%= story.category %>">
     
      <p><%= story.name %></p>
      <p><%= story.location %></p>
      <p><%= story.category %></p>
      <p><%= story.story %></p>
    </section><br/>
    <% }) %>


  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/app.js"></script>
</body>


</html>