<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>

</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>
    <%  %>

  </header>




  <main id="main-content">
    <% stories.forEach(story => { %>
    <section class="stories">
      <p><%= story.name %></p>
      <p><%= story.location %></p>
      <p><%= story.category %></p>
      <p><%= story.story %></p>
    </section>
    <% }) %>
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>