<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>

</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>
    <%  %>

  </header>




  <main id="main-content">
    <% book.forEach(story => { %>
    <section class="stories">
      <p><%= book.user %></p>
      <p><%= book.location %></p>
      <p><%= book.category %></p>
      <p><%= book.story %></p>
    </section>
    <% )} %>
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>