<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<html lang="en-us">

<head>

  <%- include('../layout/head') %>

</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>




  <main id="main-content">
    <select name="category" id="categoryDropdown">
      <option value="activity">Activity Idea</option>
      <option value="funny">Funny Story</option>
      <option value="inspirational">Inspirational Story</option>
      <option value="random">Random</option>
    </select>


    <% stories.forEach(story => { %>
    <section class="<%= story.category %>">
     
      <p><%= story.name %></p>
      <p><%= story.location %></p>
      <p><%= story.category %></p>
      <p><%= story.story %></p>
    </section>
    <% }) %>
<script>
  //event listener
$('select').change(hideElement);
let $section = $('<section>').attr('data-keyword', story.category);

//hidey filter gafiltafish
 function hideElement() { 
 let value = $(this).val(); 
 console.log(value);
  {  
   $('section').hide();    
   $(`section.${value}`).slideDown(888); 
   }                                       
}

</script>

  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>


</html>