<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
  
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>

  <main id="main-content">
    <p><%= quotes.quoteText %></p>
    <p><%= quotes.quoteAuthor %></p>
    <form action="/views/pages/submission" method="POST">
      <legend>
        <label for="name">Share a little about YOU!  What is your name/alias?</label>
        <input type="text" name="name" placeholder="your superhero name goes here" />
        <label for="location">Where is your non-virtual neighborhood?</label>
        <input type="text" name="location" placeholder="Where is your secret hideout?" />
        <label for="story">Tell us your Story!</label>
        <textarea name="story" id="storyTextBox" cols="30" rows="10" placeholder="make it pretty"></textarea>
        <label for="category">What type of story did you share?</label>
        <select name="category" id="categoryDropdown">
          <option value="activity">Activity Idea</option>
          <option value="funny">Funny Story</option>
          <option value="inspirational">Inspirational Story</option>
          <option value="random">Random</option>
        </select>
        <button type="submit">Add Your Adventure!</button>
      </legend>
    </form>
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>